.ant-menu-submenu-title span{
    color: white;
    margin-left: 10px;
}
.ant-skeleton-content{
    width: 100%;
    position: absolute;
}
.navbar-admin.col-3, .navbar-admin.col-9{
    padding: 0;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected span{
    color: black;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected a{
    color: black;
}
.menu-title{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
.fas.fa-sort-amount-up, .fas.fa-sort-amount-down{
    margin-left: 7px;
}
.menu-title button{
    margin-left: 12px;
}
.menu-title h4{
    color: orange;
    display: block;
    transform: translateY(-2px);
    margin: 0px;
}
.navbar-admin{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: 50px;
}
.admin-search{
    margin-bottom: 30px;
}
.admin-sort{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    padding: 0 50px;
}
.admin-sort #h5{
    width: 100%;
    
}
.admin-sort button{
    background-color: white;
    border-style: none;
    color: black;
    height: 40px;
    box-sizing: border-box;
    transition: 0.4s;
}
.admin-sort button:active{
    opacity: 0.7;
    background-color: #eee;
}
.admin-sort button:first-child{
    margin-right: 10px;
}
.container-fluid.navbar-admin{
    padding: 0;
    overflow-x: hidden;
}
.admin-infor{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.sub-menu{
    background-color: #fff;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sub-menu .option{
    cursor: pointer;
    margin: 0;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #f6f6f6;
    width: 100%;
}
#hello-text{
    font-size: 18px;
    margin: 0;
    margin-right: 15px;
}
.user-icon {
    margin: 0;
    cursor: pointer;
    margin-right: 20px;
    font-size: 17px;
}
.user-icon i{
    color: silver;
    margin-right: 15px;
    transform: translateY(1px);
    font-size: 30px;
}
.container.component{
    margin-top: 50px;
    background-color: #eee;
}
table.table{
    background-color: #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
table.table button{
    margin: 2px 0;
    margin-right: 10px;
    height: 30px;
    color: white;
    width: 65px;
    border-style: none;
    border-radius: 3px;
}
table.table .btn-detail{
    background-color: white;
    border: 1px solid green;
    color: green;
}
table.table .btn-edit{
    background-color: #52BE80;
    background-color: orange;
}
.form-detail li{
    font-size: 16px;
}
.component .form{
    background-color: #eee;
}
.component .form .form-header{
    background-color: #f6f6f6;
    padding: 0;
    display: flex;
    justify-content: center;

}
.component .form h5{
    color: teal;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 40px;
    font-size: 1.3rem;
    padding-left: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}

.component .form input{
    background-color: #f6f6f6;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: #f6f6f6;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color: #f6f6f6;
}
.component .form .btn-add{
    width: 50%;
    height: 38px;
    border-style: none;
    margin: 10px 0;
    background-color: #fcba07;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 4px;
    transition: 0.4s;
}
.component .form .btn-add:hover{
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
}
.component .form .btn-add:active{
    transform: scale(1.05);
} 
.component .form .btn-add i{
    margin-right: 6px;
}
.modal-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.car-infor{
    animation: toRight 1s;
}
.edit-form{
    animation: toTop 1s;
}
table.table tr{
    animation: appear 1.2s;
}
@keyframes toRight{
    from{transform: translateX(-100px); opacity: 0.5;}
    to{transform: translateX(0); opacity: 1;}
}
@keyframes toTop{
    from{transform: translateY(100px); opacity: 0.5;}
    to{transform: translateY(0); opacity: 1;}
}
@keyframes appear{
    from{opacity: 0;}
    to{opacity: 1;}
}
table .btn-detail{
    height: 35px;
    background-color: #fff;
    width: 100px;
    border-radius: 4px;
    color: orange;
    border: 1px solid orange;
}