.former h5{
    color: teal;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 40px;
    font-size: 1.3rem;
    padding-left: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}
