.user-navi{
    padding: 20px 0px;
}
.user-in4{
    border-radius: 50%;
    background-color: rgb(235, 230, 230);
    height: 80px;
    width: 80px;
}
.user-in4 h4{
    margin: 25px 25px;
}
.dark-text i {
    margin-bottom: 20px;
    margin-right: 15px;
    font-size: x-large;
}
.user-manu i{
    margin-bottom: 30px;
    margin-right: 15px;
    font-size: x-large;
}
.time{
    margin: 0 5px;
    border-radius: 5px;
    border: solid rgb(231, 231, 231) 0.5px;
}
.time h6{
    padding: 3px 20px;
    font-weight: bolder;
    color: cornflowerblue;
}
.purchaselist{
    margin-top: 20px;
}