.login-with{
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
    padding-top: 15px;
    border-radius: 5px;
}
.login-with .info{
    margin-left: 15px;
}
.head{
    padding: 20px 0;
}
.communicate{
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
    padding-top: 15px;
    border-radius: 5px;
}
.rental-info{
    background-color: white;
}
.rental-info img{
    width: 25px;
    height: 25px;
}
.next-page-reserva button{
   width: 20%;
   height: 40px;
   margin: 15px 0;
   border-style: none;
   border-radius: 10px;
   color: white;
   background-color: rgba(9, 157, 216);
   font-size: 17px;
}
